*{
  box-sizing: border-box;
  font-family: Montserrat-Regular;
}

body{
  background: #ffffff;

}

main{
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

img{
   max-width: 250%;
   max-height: 250%;
   display:block;
   margin:center;
}

.img_logo{

  height: 180px;
  width:  300px;
  display:block;
  margin:center;

}

.reloj {
      text-align: center;
      color: #015665;
      font-size: 85px;
      padding: 20px 0 20px 0;
      margin: "20px";
      
    }
    

.nombre_emp {
      text-align: center;
      color: #015665;
      font-size: 30px;
      padding: 20px 0 20px 0;
      
    }


.codigo_barra {
      width: 0px;
      margin: 0 auto;
      
    }
    
    .codigo_barra input[type="text"]{
      width: 0%;
      padding: 0px;
      border: 0px solid #dddddd;
      margin-bottom: 0px;
      box-sizing:border-box;
    }

  



    
    